li{
  list-style: none;
  color: #fff;

}

a{
    text-decoration: none;
    color:#fff
}

.icons{
    margin: 5px;
}

footer{
    background-color: #020c1b86;
    color: #fff;
    padding: 50px;
}

p{
    color: #112644;
    line-height: 20px;
    font-size: 0.8rem;
}
 body{
    background-color: #04152d;
 }


  h1 , h2 , h3 , h4{
    color: #fff;
  }

  p{
    color: #ffffffb5;
  }

  .opacity-layer{
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg, #04152d00, #04152d 79.17%);
    position: absolute;
    bottom: 0;
    left: 0;
}
  

/* navbar */
@media (max-width:700px) {
 .navbar{
  padding-left: 2rem !important;
  padding-right: 2rem !important;
 }
}

@media (max-width:450px) {
  .navbar{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    font-size: 0.8rem;
   }

  .navbar .icons{
    display: none;
  }
}


/*search section responcive */

@media (max-width:600px) {
  .search_bg form input{
    width: 400px;
  }
}

@media (max-width:530px) {
  .search_bg p {
   font-size: 1rem;
  }
  .search_bg form input{
    width: 300px;
  }
}

@media (max-width:530px) {
  .search_bg p {
   font-size: 0.95rem;
   margin: 1rem;
  }
  .search_bg form input {
    width: 350px;
    padding: 9px 30px;
  }

  .search_bg button{
    padding: 9px;
  }
}


@media (max-width:430px) {
  .search_bg p {
   font-size: 0.9rem;
   margin: 0.8rem;
   line-height: 1.7;
  }
 
  .search_bg h1{
    font-size: 2rem;
  }
  .search_bg form input {
    width: 300px;
    padding: 8px 20px;
    font-size: 0.9rem;
  }

  .search_bg button{
    padding: 8px;
    font-size: 0.9rem;
  }
}


@media (max-width:370px) {
  .search_bg p {
   font-size: 0.8rem;
   margin: 0.9rem;
  }
 
  .search_bg h1{
    font-size: 2rem;
  }
  .search_bg form input {
    width: 250px;
    padding: 8px 20px;
    font-size: 0.9rem;
  }

  .search_bg button{
    padding: 8px;
    font-size: 0.9rem;
  }
}



/* sliders */



@media (max-width:600px) {
  #movieDisplay h2{
    font-size: 1.2rem;
  }
  #movieDisplay span{
font-size: 0.8rem;
  }
 .info{
  font-size: 0.8rem;
 }
 .info p{
  font-size: 0.7rem;
 }
}

@media (max-width:421px) {
  #movieDisplay h2{
    font-size: 1rem;
  }
  #movieDisplay span{
font-size: 0.7rem;
  }
 .info{
  font-size: 0.7rem;
  text-align: center;
 }
 .info p{
  font-size: 0.7rem;
 }
 .movie .star p{
  font-size: 0.6rem;
 }
 .movie .starIcon{
  font-size: 0.6rem;
 }
}


/* Footer section  */

@media (max-width:600px) {
  
  footer .footer_p {
  width: 100%;
  font-size: 0.7rem;
  }
  
  footer .footer_title li{
    font-size: 0.8rem;
  }
}

@media (max-width:420px) {
  
  footer .footer_p {

  font-size: 0.6rem;
  }

  .footer_title{
    gap: 10px;
  }
  
  footer .footer_title li{
    font-size: 0.6rem;
  }
}